[submodule "thirdparty/RF24"]
	path = thirdparty/RF24
	url = https://github.com/nRF24/RF24.git
[submodule "thirdparty/Adafruit-MLX90614-Library"]
	path = thirdparty/Adafruit-MLX90614-Library
	url = https://github.com/adafruit/Adafruit-MLX90614-Library.git
[submodule "thirdparty/Adafruit_Sensor"]
	path = thirdparty/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "thirdparty/Adafruit_TSL2561"]
	path = thirdparty/Adafruit_TSL2561
	url = https://github.com/adafruit/Adafruit_TSL2561.git
[submodule "thirdparty/tsl2561"]
	path = thirdparty/tsl2561
	url = https://github.com/lexruee/tsl2561.git
[submodule "thirdparty/wiringPi"]
	path = thirdparty/wiringPi
	url = git://git.drogon.net/wiringPi
